<!-- ======= Header ======= -->
<!-- ======= Header ======= -->
<style>
    /*.header_15_0_0_box2__menu-hover:hover .arr::before, .header_15_0_0_box2__menu-hover:hover .header_15_0_0_box2__menu-content {
        display: block;
    }*/

    .header_15_0_0_box2__menu-content {
        padding-top: 30px;
        display: none;
        position: absolute;
        width: 80%;
        right: 16px;
        top: 60px;
        background: #0E7661;
        color: #fff;
        border-radius: 8px;
    }
    .nav-menu .drop-down:hover > .header_15_0_0_box2__menu-content {
        display:block;
    }
    .header_15_0_0_box2__menu-hover:hover > a{

    }

</style>
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="index.html"><span>Vesperr</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="#index.html">GIỚI THIỆU</a></li>
                <li><a href="#about">NHA KHOA THẨM MỸ</a></li>
                <li><a href="#services">NHA KHOA TỔNG QUÁT</a></li>
                <li><a href="#portfolio">BẢNG GIÁ</a></li>
                <li class="drop-down">
                    <a href="">BỆNH LÝ RĂNG MIỆNG</a>
                    <div class="header_15_0_0_box2__menu-content">
                        <div class="row">

                            <div class="col-xl-4">
                                <h4>GIẢM MỠ</h4>
                                <ul>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Hút mỡ Lipo Vaser&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,15700005],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/giam-beo/hut-mo-lipo-vaser/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/giam-beo/hut-mo-lipo-vaser/" target="_blank" rel="noopener">Hút mỡ Lipo Vaser</a></span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Hút mỡ + Tạo hình toàn thể&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,3751745],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/giam-beo/hut-mo-tao-hinh-toan-the/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/giam-beo/hut-mo-tao-hinh-toan-the/" target="_blank" rel="noopener">Hút mỡ + Tạo hình toàn thể</a></span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Giảm mỡ bụng Slimlipo&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,15700005],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/hut-mo/hut-mo-bung-slimlipo-vaser/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/hut-mo/hut-mo-bung-slimlipo-vaser/" target="_blank" rel="noopener">Giảm mỡ bụng Slimlipo</a></span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Giảm mỡ phân vùng Slimlipo&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,3751745],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/hut-mo/giam-mo-phan-vung-slimlipo/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/hut-mo/giam-mo-phan-vung-slimlipo/" target="_blank" rel="noopener">Giảm mỡ phân vùng Slimlipo</a></span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Hút mỡ bụng Slimlipo&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,3751745],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/hut-mo/hut-mo-bung-slimlipo-vaser/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/hut-mo/hut-mo-bung-slimlipo-vaser/" target="_blank" rel="noopener">Hút mỡ bụng Slimlipo</a></span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Tạo cơ bụng 6 múi&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,3751745],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/giam-beo/phau-thuat-tao-hinh-thanh-bung/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/giam-beo/phau-thuat-tao-hinh-thanh-bung/" target="_blank" rel="noopener">Tạo cơ bụng 6 múi</a></span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Phẫu thuật thu gọn bắp chân&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,3751745],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/hut-mo/phau-thuat-thu-gon-bap-chan/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/hut-mo/phau-thuat-thu-gon-bap-chan/" target="_blank" rel="noopener">Phẫu thuật thu gọn bắp chân</a></span></li>
                                </ul>
                                <p>
                                </p>
                            </div>

                            <div class="col-xl-4">
                                <p></p>
                                <h4>THẨM MỸ VÒNG 1</h4>
                                <ul>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Nâng ngực túi Nano&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,15700005],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/tham-my-vong-1/nang-nguc-tui-nano/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/tham-my-vong-1/nang-nguc-tui-nano/" target="_blank" rel="noopener">Nâng ngực túi Nano</a></span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Cấy mỡ nâng ngực&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,3751745],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/tham-my-vong-1/nang-nguc-biofat/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/tham-my-vong-1/nang-nguc-biofat/" target="_blank" rel="noopener">Cấy mỡ nâng ngực</a></span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Thu gọn ngực phì đại&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,3751745],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/tham-my-vong-1/thu-gon-nguc-phi-dai/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/tham-my-vong-1/thu-gon-nguc-phi-dai/" target="_blank" rel="noopener">Thu gọn ngực phì đại</a></span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Treo ngực sa trễ&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,3751745],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/tham-my-vong-1/phau-thuat-treo-nguc-sa-tre/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/tham-my-vong-1/phau-thuat-treo-nguc-sa-tre/" target="_blank" rel="noopener">Treo ngực sa trễ</a></span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Thu nhỏ nhũ hoa – Đầu ti&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,3751745],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/tham-my-vong-1/thu-nho-nhu-hoa-dau-ti/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/tham-my-vong-1/thu-nho-nhu-hoa-dau-ti/" target="_blank" rel="noopener">Thu nhỏ nhũ hoa – Đầu ti</a></span></li>
                                    <li><a href="https://benhvienthammydonga.vn/tham-my-vong-1/lam-hong-nhu-hoa/">Làm hồng nhũ hoa</a></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Cắt tuyến vú&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,3751745],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/nang-nguc/cat-tuyen-vu/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/nang-nguc/cat-tuyen-vu/" target="_blank" rel="noopener">Cắt tuyến vú</a></span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Thu nhỏ quầng vú&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,3751745],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/tham-my-vong-1/thu-nho-quang-nhu-hoa/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/tham-my-vong-1/thu-nho-quang-nhu-hoa/" target="_blank" rel="noopener">Thu nhỏ quầng vú</a></span></li>
                                </ul>
                                <p>
                                </p>
                            </div>

                            <div class="col-xl-4">
                                <p></p>
                                <h4>NÂNG MÔNG</h4>
                                <ul>
                                    <li><a href="https://benhvienthammydonga.vn/tham-my-voc-dang/phau-thuat-nang-mong-noi-soi/">Nâng mông nội soi</a></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Nâng mông chảy xê&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,3751745],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/tham-my-voc-dang/nang-mong-chay-xe/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/tham-my-voc-dang/nang-mong-chay-xe/" target="_blank" rel="noopener">Nâng mông chảy xê</a></span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Cấy mỡ nâng mông&quot;}" data-sheets-userformat="{&quot;2&quot;:14913,&quot;3&quot;:{&quot;1&quot;:0},&quot;9&quot;:0,&quot;12&quot;:0,&quot;14&quot;:[null,2,3751745],&quot;15&quot;:&quot;Quicksand, Arial, Helvetica&quot;,&quot;16&quot;:11}" data-sheets-hyperlink="https://benhvienthammydonga.vn/cay-mo/cay-mo-nang-mong/"><a class="in-cell-link" href="https://benhvienthammydonga.vn/cay-mo/cay-mo-nang-mong/" target="_blank" rel="noopener">Cấy mỡ nâng mông</a></span></li>
                                </ul>

                            </div>

                        </div>
                    </div>
                    @*<ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="drop-down">
                            <a href="#">Drop Down 2</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                        <li><a href="#">Drop Down 5</a></li>
                    </ul>*@
                </li>
               

                <li class="get-started"><a href="#about">Get Started</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="slide" class="d-flex align-items-center" style="margin-top:26px;">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Content/images/Ảnh bìa 20-2.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Content/images/Ảnh bìa 20-2.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Content/images/Ảnh bìa 20-2.jpg" alt="First slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</section><!-- End Hero -->

